@media only screen and (min-width: 992px) {
    .nav-wrapper {
        margin-right: 17%;
        margin-left: 17%;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #424242;
}

main {
    flex: 1 0 auto;
}

.parallax-container-full {
    height: calc(100% - 65px);
}

.parallax-container-partial {
    height: calc(15%);
}

.h200 {
    height: 200px;
}

.maxheight40percent {
    height: auto;
}

.tile {
    padding: 0px;
    height: auto;
    color: black;
}

.tile-image {
    width: 100%;
    max-height: 200px;
    height: 60%;
    overflow: hidden;
}

.tile-image-large {
    width: 100%;
    height: 80%;
    max-height: 200px;
    overflow: hidden;
}

.cover-image {
    width: 100%;
    height: auto;
    max-height: 1000px;
}

.tile-image-large img {
    width: 100%;
    height: auto;
}

.tile-image img {
    width: 100%;
    height: auto;
}

.tile-content {
    padding: 10px;
    height: auto;
    max-height: 40%;
}

.tile-content ul {
    line-height: 28px;
}

.full {
    max-height: 10000px;
}

.tile-title {
    text-align: left;
    font-size: 18pt;
    font-weight: bold;
    font-family: "Roboto Slab";
}

.section-title {
    color: white;
    font-size: 28pt;
    font-variant: small-caps;
}

.margin-top {
    margin-top: 15px;
}

.bold {
    font-weight: bold;
}

.publication-list li {
    margin-bottom: 35px;
    text-align: center;
}

.publication-list li:first-child {
    margin-top: 15px;
}

.slab {
    font-family: "Roboto Slab";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab";
}

.thumbnail {
    height: 100px;
    width: 100px;
    display: inline-flex;
    overflow: hidden;
    margin: 20px;
}

.logo {
    margin: 2%;
    height: 88%;
    width: auto;
}

.float-right {
    float: right;
    width: 30%;
}

footer img {
    max-height: 150px;
}

/*.timeline {
    color: white;
    font-size: 18pt;
}

.timeline li:nth-of-type(even){
    text-align: right;
    margin-right: 55%;
    background-color: #77BF43;
    padding: 8px;
    border-radius: 4px;
}

.timeline li:nth-of-type(odd){
    text-align: left;
    margin-left: 55%;
    background-color: #77BF43;
    padding: 8px;
    border-radius: 4px;
}*/

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background:;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #04793F;
    border-radius: 4px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #04793F transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #04793F;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #FCCD09;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 150px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #FCCD09 transparent transparent;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/

.date {
    color: white;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular-webfont.eot');
    src: url('../fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
    url('../fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'),
    url('../fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.btn-floating {
    margin-bottom: 15px;
}

.highlight {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

main .card-panel ul, .card ul {
    padding-left: 25px;
}

main .card-panel li, .card-panel li {
    list-style-type: circle;
}

main ul.collection {
    padding-left: 0px;
}

main li.collection-item {
    list-style-type: none;
}

.float-right {
    float: right;
    width: 30%;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.float-left {
    float: left;
    width: 30%;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.float-center {
    margin: 0 auto;
}
@media only screen and (max-width: 992px) {
    .float-right {
        width: 100%;
    }

    .float-left {
        width: 100%;
    }
}

