---
layout: default
---

<div class="container">
    <div class="row margin-top">
        <div class="col s12">
            <div class="card-panel tile z-depth-2">
                <div class="tile-image-large">
                    <img src="{{page.cover_image}}"/>
                </div>
                <div class="tile-content full">
                    <div class="tile-description">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>