---
# Derive this layout from the default layout.
# The content found below this Front Matter will be inserted on the default layout where it says {% content %}.
layout: default
---


{% if page.show_parallax contains 'True' %}
<div class="parallax-container">
    <div class="caption center-align">
        <h3 class="white-text">Satellites are like Buzz Lightyear</h3>
        <h5 class="light grey-text text-lighten-3">They fall with style.</h5>
    </div>
    <div class="parallax">
        <img src="{{ site.baseurl }}{{page.parallax_image}}"/>
    </div>
</div>
{% endif %}

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });

</script>

<div class="container">
    <h3 class="white-text">Ongoing Projects</h3>
    <div class="row margin-top flex-height">
        {% for project in site.data.msat-projects %}
        {% if project.ongoing %}
        <div class="col s12 l4 flex-item flex-height">
            <a href="{{ site.baseurl }}projects/{{project.url}}.html">
                <div class="card-panel tile hoverable z-depth-1 h200 flex-item">
                    <div class="tile-image-large">
                        <img src="{{ site.baseurl }}{{project.tile_image}}"/>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">{{ project.title }}</div>
                        <div class="tile-description">{{ project.tagline }}</div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row margin-top card-panel white">
        {{content}}
    </div>
</div>

<script>

</script>

<script>
    // Hide parallax on Firefox because it freaks out unfortunately
    // Javascript
    var FIREFOX = /Firefox/i.test(navigator.userAgent);

    if (FIREFOX) {
        $('.parallax-container').addClass('hid');
    }
</script>