---
# Derive this layout from the default layout.
# The content found below this Front Matter will be inserted on the default layout where it says {% content %}.
layout: default
---


<div class="background">
    <div class="caption center-align hide">
        <h3 class="white-text">Satellites are like Buzz Lightyear</h3>
        <h5 class="light grey-text text-lighten-3">They fall with style.</h5>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 l10 push-l1 card-panel white big-text z-depth-4 margin-top shift-down">
                {{content}}
            </div>
        </div>
    </div>

    <div class="container projects">
        {% if site.data.msat-projects %}
        <h3 class="white-text hide">Ongoing Projects</h3>
        <div class="row margin-top flex-height">
            {% for project in site.data.msat-projects %}
            {% if project.ongoing %}
            <div class="col s10 push-s1 l4 flex-height">
                <a href="{{ site.baseurl }}projects/{{project.url}}.html" class="flex-height">
                    <div class="card-panel tile hoverable z-depth-1 h200">
                        <div class="tile-image-large">
                            <img src="{{ site.baseurl }}{{project.tile_image}}"/>
                        </div>
                        <div class="tile-content">
                            <div class="tile-title">{{ project.title }}</div>
                            <div class="tile-description">{{ project.tagline }}</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>

<div class="container">
    <div class="row margin-top calendar-events flex-height"></div>
</div>

<script>

</script>

<!-- Moment.js not used
<script src="{{site.baseurl}}js/moment.min.js"></script>
-->

<script>
    var api_key = "AIzaSyBMWU0hcTVS9492xkBcyvIfK6fblhiFhMc";
    //var calendar_id = "mst.edu_jf6ajjf63sjl899fm9sq18pkl8@group.calendar.google.com";
    var calendar_id = "mst.edu_7277l0hsh2n59llhc2uldqnm3k@group.calendar.google.com";
    var num_events = 4;
    var query = "{{ page.keyword }}";
    if (!query) {
        query = "";
    }
    query = encodeURIComponent(query);
    var d = new Date();
    var date = d.toISOString();
    //console.log(date);
    var url = "https://www.googleapis.com/calendar/v3/calendars/" + calendar_id + "/events?key=" + api_key + "&singleEvents=True&orderBy=startTime&showDeleted=False&maxResults=" + num_events + "&timeMin=" + date + "&q=" + query;
    $.getJSON(url, function (json) {
        //console.log(json.items[0].summary);
        var events = json.items;
        console.log(json.items);
        var html_string = "<h3 class='white-text'>Upcoming Events</h3>";
        if (json.items.length) {
            $('.calendar-events').before(html_string);
        }
        $(events).each(function (index) {
            console.log(events[index].summary);
            var title = events[index].summary;
            var location = events[index].location;
            if (location == undefined) {
                location = "Probably in Toomey (unspecified)"
            }
            var link = events[index].htmlLink;
            var options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
            var start_date = new Date(events[index].start.dateTime).toLocaleDateString('en-US', options);
            var start_time = new Date(events[index].start.dateTime).toLocaleTimeString(navigator.language, {
                hour: '2-digit',
                minute: '2-digit'
            });
            var end_time = new Date(events[index].end.dateTime).toLocaleTimeString(navigator.language, {
                hour: '2-digit',
                minute: '2-digit'
            });

            console.log(start_date);
            console.log(start_time);
            var html_string =
                "<div class=\"col s10 push-s1 l6 flex-height\"><div class=\"card horizontal hoverable\"><div class=\"card-image fill blue darken-4\"></div><div class=\"card-stacked\"><div class=\"card-content\"><a target=\"_blank\" href=\"" + link + "\" class=\"btn-floating btn-large waves-effect right-align waves-light green margin float-right\"><i class=\"material-icons\">today</i></a><h4>" + title + "</h4><blockquote><h6>" + start_date + "</h6><h6>" + start_time + " - " + end_time + "</h6><h6>" + location + "</h6></blockquote>" + "</div></div></div></div>";
            $('.calendar-events').append(html_string);
        });
    });
</script>