---
# THIS IS THE MSAT-PROJECT LAYOUT AND PULLS ALL THE DATA IT NEEDS FROM _data/msat-projects.yml
# IT USES THE PROJECT IMAGE AS THE PARAGRAPH COVER IMAGE.
# IF THE THERE IS NO TIMELINE IN THE DATA FILE, IT WILL AUTOMATICALLY HIDE ITSELF.
# IF THE THERE ARE NO PEOPLE IN THE DATA FILE, IT WILL AUTOMATICALLY HIDE THE PEOPLE.

layout: default
---

<div class="container">
    <div class="row margin-top">
        <div class="col s12">
            <div class="card-panel tile z-depth-2">
                <div class="tile-image-large cover-image">
                    <img src="{{ site.baseurl }}{{page.cover_image}}"/>
                </div>
                <div class="tile-content full">
                    <div class="tile-title"><h4>{{ page.title }}</h4></div>
                    <div class="tile-description">
                        <p>{{ page.full_description | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div>

        {% if page.timeline %}
        <div class="col s12">
            <div class="">
                <h4 class="white-text center-align">{{ page.title }}&nbsp;Timeline</h4>
                <section class="timeline">
                    <ul>{% for timeline in page.timeline %}
                        <li>
                            <div>
                                <time>{{ timeline.date }}</time>
                                {{ timeline.text }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
        {% endif %}

        {% if page.people %}
        {% for person in page.people %}
        <div class="col s12 l4">
            <div class="card horizontal">
                <div class="card-image stripe">
                    &nbsp;
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>{{person.name}}</h4>
                        <p>{{person.role}}</p>
                    </div>
                    <div class="card-action">
                        <a href="mailto:{{person.email}}" target="_blank">Email</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<script>
    (function () {

        'use strict';

        // define variables
        var items = document.querySelectorAll(".timeline li");

        // check if an element is in viewport
        // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        function callbackFunc() {
            for (var i = 0; i < items.length; i++) {
                if (isElementInViewport(items[i])) {
                    items[i].classList.add("in-view");
                }
            }
        }

        // listen for events
        window.addEventListener("load", callbackFunc);
        window.addEventListener("resize", callbackFunc);
        window.addEventListener("scroll", callbackFunc);

    })();
</script>