<ul id="dropdown1" class="dropdown-content">
    <li><a href="http://mst.orgsync.com/org/mstieee/generalmeetings">General Meetings</a></li>
    <li><a href="http://mst.orgsync.com/org/mstieee/studysessions">Study Sessions</a></li>
    <li><a href="http://mst.orgsync.com/org/mstieee/emphasisworkshops">Emphasis Area Workshops</a></li>
    <li><a href="http://mst.orgsync.com/org/mstieee/electronicsworkshops">Electronics Workshops</a></li>
    <li><a href="http://mst.orgsync.com/org/mstieee/spav">SPAV</a></li>
    <li><a href="http://mst.orgsync.com/org/mstieee/blackbox">Black Box</a></li>
    <li><a href="http://mst.orgsync.com/org/mstieee/robotics">Robotics</a></li>
</ul>
<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="http://mst.orgsync.com/org/mstieee/home" class="brand-logo"><img class="responsive-img" id="logo"
                                                                                  src="http://os_extranet_images.s3.amazonaws.com/418916_original.png"
                                                                                  height="100" width="200"/></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="http://mst.orgsync.com/org/mstieee/calendar">Calendar</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Events<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="http://mst.orgsync.com/org/mstieee/sponsors">Sponsors</a></li>
            <li><a href="http://mst.orgsync.com/org/mstieee/join">Join</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-blue">Events</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="http://mst.orgsync.com/org/mstieee/generalmeetings">General Meetings</a></li>
                                <li><a href="http://mst.orgsync.com/org/mstieee/studysessions">Study Sessions</a></li>
                                <li><a href="http://mst.orgsync.com/org/mstieee/emphasisworkshops">Emphasis Area Workshops</a></li>
                                <li><a href="http://mst.orgsync.com/org/mstieee/electronicsworkshops">Electronics Workshops</a></li>
                                <li><a href="http://mst.orgsync.com/org/mstieee/spav">SPAV</a></li>
                                <li><a href="http://mst.orgsync.com/org/mstieee/blackbox">Black Box</a></li>
                                <li><a href="http://mst.orgsync.com/org/mstieee/robotics">Robotics</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="http://mst.orgsync.com/org/mstieee/calendar">Calendar</a></li>
                    <li><a href="http://mst.orgsync.com/org/mstieee/sponsors">Sponsors</a></li>
                    <li><a href="http://mst.orgsync.com/org/mstieee/contact">Contact</a></li>
                    <li><a href="http://mst.orgsync.com/org/mstieee/join">Join</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>