---
layout: default
---

<div class="container">
    <div class="row margin-top">
        <h3 class="white-text center-align">Our Outreach Events</h3>
        <div class="col s12 l8 push-l2">
            {% for post in site.posts %}
            <a href="{{post.url}}">
                <div class="card-panel black-text hoverable">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.date | date: '%B %d, %Y' }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>