---
# THIS IS THE OUTREACH LAYOUT.
# IT SIMPLY LISTS ALL THE POSTS THAT HAVE A CATEGORY OF OUTREACH WITH THE MOST RECENT COMING FIRST.

layout: default
---

<div class="container">
    <div class="row margin-top">
        <div class="col s12">
            <div class="card-panel tile z-depth-2">
                <div class="tile-image-large">
                    <img src="{{ site.baseurl }}{{page.cover_image}}"/>
                </div>
                <div class="tile-content full">
                    <div class="tile-description">
                        {{content}}
                    </div>
                    {% if page.images %}
                    <div class="slider">
                        <ul class="slides">
                            {% for image in page.images %}
                            <li>
                                <img src="{{ site.baseurl }}{{image.file}}">
                                <div class="caption center-align">
                                    <h3>{{image.caption}}</h3>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>