---
# THIS IS THE PARTNERS LAYOUT. ALL PARTNERS FOUND IN _data/parnters.yml WILL BE DISPLAYED AUTOMATICALLY.
# BELOW IS A BLANK DIV FOR MARKDOWN TO BE ADDED VIA partners.md.

layout: default

# This has two (really three) options:
#  - "top" puts the paragraph about the partner tiles.
#  - "bottom" puts the paragraph below the partner tiles.
#  - Putting nothing ("") means it won't appear.
paragraph_position: top
---

<div class="container">
    {% if layout.paragraph_position contains 'top' %}
    <div class="row margin-top">
        <div class="card-panel white">
            {{content}}
        </div>
    </div>
    {% endif %}
    <div class="row margin-top flex-height">
        {% for partner in site.data.partners %}
        <div class="col s10 push-s1 l4 flex-height">
            <div class="card">
                <div class="card-image">
                    <img src="{{ site.baseurl }}{{partner.logo}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{partner.title}}</span>
                    <p><a href="{{partner.url}}" target="_blank">View Site</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if layout.paragraph_position contains 'bottom' %}
    <div class="row margin-top">
        <div class="card-panel white">
            {{content}}
        </div>
    </div>
    {% endif %}
</div>