---
layout: default
thanks_text: 'Thanks for making this all possible.'
---

<div class="container">
    <div class="row margin-top">
        {% for partner in site.data.partners %}
        <div class="col s12 l4">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{partner.logo}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        {{partner.title}}<i class="material-icons right">more_vert</i>
                    </span>
                </div>
                <div class="card-action">
                    <a href="{{partner.url}}" target="_blank">View Site</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{partner.title}}<i class="material-icons right">close</i></span>
                    <p>{{partner.text}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row margin-top">
        <div class="card-panel white">
            {{content}}
        </div>
    </div>
</div>