---
# THIS IS THE POST LAYOUT. IT WAS FIRST CREATED FOR OUTREACH POSTS.
# THE POST TITLE AND POST DATE (Month Day, Year) IS AUTOMATICALLY INSERTED, WITH MARKDOWN BEGINNING AFTER THE DATE.
# AN IMAGE SLIDESHOW WILL APPEAR IF THERE ARE IMAGES LISTED IN THE POST FRONT MATTER.

layout: default
---

<div class="container">
    <div class="row margin-top">
        <div class="col s12">
            <div class="card-panel tile z-depth-2">
                <div class="tile-image-large">
                    <img src="{{ site.baseurl }}{{page.cover_image}}"/>
                </div>
                <div class="tile-content full">
                    <h3>{{page.title}}</h3>
                    <h6>{{page.date | date: '%B %d, %Y'}}</h6>
                    <div class="tile-description">
                        {{content}}
                    </div>
                    {% if page.images %}
                    <div class="slider">
                        <ul class="slides">
                            {% for image in page.images %}
                            <li>
                                <img src="{{ site.baseurl }}{{image.file}}">
                                <div class="caption center-align">
                                    <h3>{{image.caption}}</h3>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>